.Navbar {
    grid-area: n;
    background-color: skyblue;
    height: 1000px;
}
.Navbar li {
    margin-top: 30px;
    font-size: larger;
}
.Navbar li a {
    color: black;
}
.Navbar li a:hover {
    color: whitesmoke;
}
.Navbar li:hover {
    color: skyblue;
}